.container {
  margin: 5px!important;
  padding: 5px!important;
}

.navbarSupportedContent {
align-self: end;
visibility: hidden!important;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
}
